bpelContent_v2_avec_invoke_sans_if/calcul.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:tns="http://ws.dja.afcepf.fr/" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
 xmlns:ns1="http://schemas.xmlsoap.org/soap/http" 
 name="ServiceCalculImplService" 
 targetNamespace="http://ws.dja.afcepf.fr/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.dja.afcepf.fr/" elementFormDefault="unqualified" targetNamespace="http://ws.dja.afcepf.fr/" version="1.0">

  <xs:element name="addition" type="tns:addition"/>

  <xs:element name="additionResponse" type="tns:additionResponse"/>

  <xs:element name="multiplication" type="tns:multiplication"/>

  <xs:element name="multiplicationResponse" type="tns:multiplicationResponse"/>

  <xs:complexType name="multiplication">
    <xs:sequence>
      <xs:element name="u" type="xs:double"/>
      <xs:element name="v" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="multiplicationResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addition">
    <xs:sequence>
      <xs:element name="s" type="xs:double"/>
      <xs:element name="t" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="additionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="additionResponse">
    <wsdl:part element="tns:additionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multiplication">
    <wsdl:part element="tns:multiplication" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multiplicationResponse">
    <wsdl:part element="tns:multiplicationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addition">
    <wsdl:part element="tns:addition" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IServiceCalcul">
    <wsdl:operation name="multiplication">
      <wsdl:input message="tns:multiplication" name="multiplication">
    </wsdl:input>
      <wsdl:output message="tns:multiplicationResponse" name="multiplicationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addition">
      <wsdl:input message="tns:addition" name="addition">
    </wsdl:input>
      <wsdl:output message="tns:additionResponse" name="additionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     PARTNER LINK TYPE DEFINITION
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    
    <plnk:partnerLinkType name="calcul">
        <plnk:role name="calculProvider" portType="tns:IServiceCalcul"/>
    </plnk:partnerLinkType>
    
  
  <wsdl:binding name="ServiceCalculImplServiceSoapBinding" type="tns:IServiceCalcul">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="multiplication">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="multiplication">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="multiplicationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addition">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="additionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCalculImplService">
    <wsdl:port binding="tns:ServiceCalculImplServiceSoapBinding" name="ServiceCalculImplPort">
      <soap:address location="http://localhost:8080/serverSoap/ws/calcul"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>